/* style.css */

/* Reseteo básico para márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo de la página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00e1ff49;
    font-family: 'Consolas', sans-serif;
}

/* Estilo del reloj */
#clock {
    font-size: 5rem;
    color: #00b28b;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Estilo del pie de página */
#footer {
    font-size: 1.2rem;
    color: #00796b;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px; /* Espacio entre el reloj y el pie de página */
}
